po-grid/schema/CoppaPO/CoppaPO.wsdl

<?xml version="1.0" encoding="UTF-8"?>
<definitions xmlns="http://schemas.xmlsoap.org/wsdl/" xmlns:tns="http://grid.po.coppa.nci.nih.gov/CoppaPO" xmlns:wsrp="http://docs.oasis-open.org/wsrf/2004/06/wsrf-WS-ResourceProperties-1.2-draft-01.xsd" xmlns:wsrlw="http://docs.oasis-open.org/wsrf/2004/06/wsrf-WS-ResourceLifetime-1.2-draft-01.wsdl" xmlns:wsdlpp="http://www.globus.org/namespaces/2004/10/WSDLPreprocessor" xmlns:gtwsdl1="http://docs.oasis-open.org/wsrf/2004/06/wsrf-WS-ServiceGroup-1.2-draft-01.wsdl" xmlns:wsa="http://schemas.xmlsoap.org/ws/2004/03/addressing" xmlns:wsntw="http://docs.oasis-open.org/wsn/2004/06/wsn-WS-BaseNotification-1.2-draft-01.wsdl" xmlns:wsrbfw="http://docs.oasis-open.org/wsrf/2004/06/wsrf-WS-BaseFaults-1.2-draft-01.wsdl" xmlns:wsrpw="http://docs.oasis-open.org/wsrf/2004/06/wsrf-WS-ResourceProperties-1.2-draft-01.wsdl" xmlns:wns0="http://security.introduce.cagrid.nci.nih.gov/ServiceSecurity" xmlns:ns5="gme://caGrid.caBIG/1.0/gov.nih.nci.cagrid.metadata" xmlns:ns2="uri:iso.org:21090" xmlns:ns3="http://grid.po.coppa.nci.nih.gov/CoppaPO/types" xmlns:ns0="http://po.coppa.nci.nih.gov" xmlns:ns4="gme://caGrid.caBIG/1.0/gov.nih.nci.cagrid.metadata.security" xmlns:ns1="http://schemas.xmlsoap.org/ws/2004/03/addressing" name="CoppaPO" targetNamespace="http://grid.po.coppa.nci.nih.gov/CoppaPO">
  <import namespace="http://docs.oasis-open.org/wsrf/2004/06/wsrf-WS-ResourceProperties-1.2-draft-01.wsdl" location="../wsrf/properties/WS-ResourceProperties.wsdl" />
  <import namespace="http://docs.oasis-open.org/wsrf/2004/06/wsrf-WS-BaseFaults-1.2-draft-01.wsdl" location="../wsrf/faults/WS-BaseFaults.wsdl" />
  <import namespace="http://docs.oasis-open.org/wsn/2004/06/wsn-WS-BaseNotification-1.2-draft-01.wsdl" location="../wsrf/notification/WS-BaseN.wsdl" />
  <import namespace="http://security.introduce.cagrid.nci.nih.gov/ServiceSecurity" location="./ServiceSecurity.wsdl" />
  <!--============================================================

                      T Y P E S
                      
  ============================================================-->
  <types>
    <schema xmlns="http://www.w3.org/2001/XMLSchema" xmlns:xs="http://www.w3.org/2001/XMLSchema" xmlns:wsrbf="http://docs.oasis-open.org/wsrf/2004/06/wsrf-WS-BaseFaults-1.2-draft-01.xsd" targetNamespace="http://grid.po.coppa.nci.nih.gov/CoppaPO" elementFormDefault="qualified" attributeFormDefault="unqualified">
      <import namespace="http://docs.oasis-open.org/wsrf/2004/06/wsrf-WS-BaseFaults-1.2-draft-01.xsd" schemaLocation="../wsrf/faults/WS-BaseFaults.xsd" />
      <import namespace="gme://caGrid.caBIG/1.0/gov.nih.nci.cagrid.metadata" schemaLocation="./xsd/cagrid/types/caGridMetadata.xsd" />
      <import namespace="uri:iso.org:21090" schemaLocation="./ISO_datatypes_Narrative.xsd" />
      <import namespace="http://grid.po.coppa.nci.nih.gov/CoppaPO/types" schemaLocation="./CoppaPOTypes.xsd" />
      <import namespace="http://po.coppa.nci.nih.gov" schemaLocation="./CoppaPO.xsd" />
      <import namespace="gme://caGrid.caBIG/1.0/gov.nih.nci.cagrid.metadata.security" schemaLocation="./xsd/cagrid/types/security/security.xsd" />
      <import namespace="http://schemas.xmlsoap.org/ws/2004/03/addressing" schemaLocation="./../ws/addressing/WS-Addressing.xsd" />
      <element name="EchoOrganizationRequest">
        <complexType>
          <sequence>
            <element name="organization">
              <complexType>
                <sequence>
                  <element ref="ns0:Organization" minOccurs="1" maxOccurs="1" />
                </sequence>
              </complexType>
            </element>
          </sequence>
        </complexType>
      </element>
      <element name="EchoOrganizationResponse">
        <complexType>
          <sequence>
            <element ref="ns0:Organization" minOccurs="1" maxOccurs="1" />
          </sequence>
        </complexType>
      </element>
      <element name="EchoPersonRequest">
        <complexType>
          <sequence>
            <element name="person">
              <complexType>
                <sequence>
                  <element ref="ns0:Person" minOccurs="1" maxOccurs="1" />
                </sequence>
              </complexType>
            </element>
          </sequence>
        </complexType>
      </element>
      <element name="EchoPersonResponse">
        <complexType>
          <sequence>
            <element ref="ns0:Person" minOccurs="1" maxOccurs="1" />
          </sequence>
        </complexType>
      </element>
      <element name="GetOrganizationRequest">
        <complexType>
          <sequence>
            <element name="identifier">
              <complexType>
                <sequence>
                  <element ref="ns0:Id" minOccurs="1" maxOccurs="1" />
                </sequence>
              </complexType>
            </element>
          </sequence>
        </complexType>
      </element>
      <element name="GetOrganizationResponse">
        <complexType>
          <sequence>
            <element ref="ns0:Organization" minOccurs="1" maxOccurs="1" />
          </sequence>
        </complexType>
      </element>
      <element name="GetPersonRequest">
        <complexType>
          <sequence>
            <element name="identifier">
              <complexType>
                <sequence>
                  <element ref="ns0:Id" minOccurs="1" maxOccurs="1" />
                </sequence>
              </complexType>
            </element>
          </sequence>
        </complexType>
      </element>
      <element name="GetPersonResponse">
        <complexType>
          <sequence>
            <element ref="ns0:Person" minOccurs="1" maxOccurs="1" />
          </sequence>
        </complexType>
      </element>
      <element name="SearchOrganizationsRequest">
        <complexType>
          <sequence>
            <element name="organization">
              <complexType>
                <sequence>
                  <element ref="ns0:Organization" minOccurs="1" maxOccurs="1" />
                </sequence>
              </complexType>
            </element>
          </sequence>
        </complexType>
      </element>
      <element name="SearchOrganizationsResponse">
        <complexType>
          <sequence>
            <element ref="ns0:Organization" minOccurs="1" maxOccurs="unbounded" />
          </sequence>
        </complexType>
      </element>
      <element name="SearchPersonsRequest">
        <complexType>
          <sequence>
            <element name="person">
              <complexType>
                <sequence>
                  <element ref="ns0:Person" minOccurs="1" maxOccurs="1" />
                </sequence>
              </complexType>
            </element>
          </sequence>
        </complexType>
      </element>
      <element name="SearchPersonsResponse">
        <complexType>
          <sequence>
            <element ref="ns0:Person" minOccurs="1" maxOccurs="unbounded" />
          </sequence>
        </complexType>
      </element>
      <element name="EchoHealthCareFacilityRequest">
        <complexType>
          <sequence>
            <element name="healthCareFacility">
              <complexType>
                <sequence>
                  <element ref="ns0:HealthCareFacility" minOccurs="1" maxOccurs="1" />
                </sequence>
              </complexType>
            </element>
          </sequence>
        </complexType>
      </element>
      <element name="EchoHealthCareFacilityResponse">
        <complexType>
          <sequence>
            <element ref="ns0:HealthCareFacility" minOccurs="1" maxOccurs="1" />
          </sequence>
        </complexType>
      </element>
      <element name="GetHealthCareFacilityRequest">
        <complexType>
          <sequence>
            <element name="identifier">
              <complexType>
                <sequence>
                  <element ref="ns0:Id" minOccurs="1" maxOccurs="1" />
                </sequence>
              </complexType>
            </element>
          </sequence>
        </complexType>
      </element>
      <element name="GetHealthCareFacilityResponse">
        <complexType>
          <sequence>
            <element ref="ns0:HealthCareFacility" minOccurs="1" maxOccurs="1" />
          </sequence>
        </complexType>
      </element>
      <element name="SearchHealthCareFacilitiesRequest">
        <complexType>
          <sequence>
            <element name="healthCareFacility">
              <complexType>
                <sequence>
                  <element ref="ns0:HealthCareFacility" minOccurs="1" maxOccurs="1" />
                </sequence>
              </complexType>
            </element>
          </sequence>
        </complexType>
      </element>
      <element name="SearchHealthCareFacilitiesResponse">
        <complexType>
          <sequence>
            <element ref="ns0:HealthCareFacility" minOccurs="1" maxOccurs="unbounded" />
          </sequence>
        </complexType>
      </element>
      <element name="EchoClinicalResearchStaffRequest">
        <complexType>
          <sequence>
            <element name="clinicalResearchStaff">
              <complexType>
                <sequence>
                  <element ref="ns0:ClinicalResearchStaff" minOccurs="1" maxOccurs="1" />
                </sequence>
              </complexType>
            </element>
          </sequence>
        </complexType>
      </element>
      <element name="EchoClinicalResearchStaffResponse">
        <complexType>
          <sequence>
            <element ref="ns0:ClinicalResearchStaff" minOccurs="1" maxOccurs="1" />
          </sequence>
        </complexType>
      </element>
      <element name="GetClinicalResearchStaffRequest">
        <complexType>
          <sequence>
            <element name="identifier">
              <complexType>
                <sequence>
                  <element ref="ns0:Id" minOccurs="1" maxOccurs="1" />
                </sequence>
              </complexType>
            </element>
          </sequence>
        </complexType>
      </element>
      <element name="GetClinicalResearchStaffResponse">
        <complexType>
          <sequence>
            <element ref="ns0:ClinicalResearchStaff" minOccurs="1" maxOccurs="1" />
          </sequence>
        </complexType>
      </element>
      <element name="SearchClinicalResearchStaffsRequest">
        <complexType>
          <sequence>
            <element name="clinicalResearchStaff">
              <complexType>
                <sequence>
                  <element ref="ns0:ClinicalResearchStaff" minOccurs="1" maxOccurs="1" />
                </sequence>
              </complexType>
            </element>
          </sequence>
        </complexType>
      </element>
      <element name="SearchClinicalResearchStaffsResponse">
        <complexType>
          <sequence>
            <element ref="ns0:ClinicalResearchStaff" minOccurs="1" maxOccurs="unbounded" />
          </sequence>
        </complexType>
      </element>
      <element name="CoppaPOResourceProperties">
        <complexType>
          <sequence>
            <element ref="ns5:ServiceMetadata" />
          </sequence>
        </complexType>
      </element>
    </schema>
  </types>
  <!--  place service messages here -->
  <message name="EchoOrganizationRequest">
    <part name="parameters" element="tns:EchoOrganizationRequest" />
  </message>
  <message name="EchoOrganizationResponse">
    <part name="parameters" element="tns:EchoOrganizationResponse" />
  </message>
  <message name="EchoPersonRequest">
    <part name="parameters" element="tns:EchoPersonRequest" />
  </message>
  <message name="EchoPersonResponse">
    <part name="parameters" element="tns:EchoPersonResponse" />
  </message>
  <message name="GetOrganizationRequest">
    <part name="parameters" element="tns:GetOrganizationRequest" />
  </message>
  <message name="GetOrganizationResponse">
    <part name="parameters" element="tns:GetOrganizationResponse" />
  </message>
  <message name="GetPersonRequest">
    <part name="parameters" element="tns:GetPersonRequest" />
  </message>
  <message name="GetPersonResponse">
    <part name="parameters" element="tns:GetPersonResponse" />
  </message>
  <message name="SearchOrganizationsRequest">
    <part name="parameters" element="tns:SearchOrganizationsRequest" />
  </message>
  <message name="SearchOrganizationsResponse">
    <part name="parameters" element="tns:SearchOrganizationsResponse" />
  </message>
  <message name="SearchPersonsRequest">
    <part name="parameters" element="tns:SearchPersonsRequest" />
  </message>
  <message name="SearchPersonsResponse">
    <part name="parameters" element="tns:SearchPersonsResponse" />
  </message>
  <message name="EchoHealthCareFacilityRequest">
    <part name="parameters" element="tns:EchoHealthCareFacilityRequest" />
  </message>
  <message name="EchoHealthCareFacilityResponse">
    <part name="parameters" element="tns:EchoHealthCareFacilityResponse" />
  </message>
  <message name="GetHealthCareFacilityRequest">
    <part name="parameters" element="tns:GetHealthCareFacilityRequest" />
  </message>
  <message name="GetHealthCareFacilityResponse">
    <part name="parameters" element="tns:GetHealthCareFacilityResponse" />
  </message>
  <message name="SearchHealthCareFacilitiesRequest">
    <part name="parameters" element="tns:SearchHealthCareFacilitiesRequest" />
  </message>
  <message name="SearchHealthCareFacilitiesResponse">
    <part name="parameters" element="tns:SearchHealthCareFacilitiesResponse" />
  </message>
  <message name="EchoClinicalResearchStaffRequest">
    <part name="parameters" element="tns:EchoClinicalResearchStaffRequest" />
  </message>
  <message name="EchoClinicalResearchStaffResponse">
    <part name="parameters" element="tns:EchoClinicalResearchStaffResponse" />
  </message>
  <message name="GetClinicalResearchStaffRequest">
    <part name="parameters" element="tns:GetClinicalResearchStaffRequest" />
  </message>
  <message name="GetClinicalResearchStaffResponse">
    <part name="parameters" element="tns:GetClinicalResearchStaffResponse" />
  </message>
  <message name="SearchClinicalResearchStaffsRequest">
    <part name="parameters" element="tns:SearchClinicalResearchStaffsRequest" />
  </message>
  <message name="SearchClinicalResearchStaffsResponse">
    <part name="parameters" element="tns:SearchClinicalResearchStaffsResponse" />
  </message>
  <!--============================================================

                       P O R T T Y P E
                      
  ============================================================-->
  <portType name="CoppaPOPortType" wsrp:ResourceProperties="tns:CoppaPOResourceProperties">
    <operation name="echoOrganization">
      <input message="tns:EchoOrganizationRequest" wsa:Action="http://grid.po.coppa.nci.nih.gov/CoppaPO/EchoOrganizationRequest" />
      <output message="tns:EchoOrganizationResponse" wsa:Action="http://grid.po.coppa.nci.nih.gov/CoppaPO/EchoOrganizationResponse" />
    </operation>
    <operation name="echoPerson">
      <input message="tns:EchoPersonRequest" wsa:Action="http://grid.po.coppa.nci.nih.gov/CoppaPO/EchoPersonRequest" />
      <output message="tns:EchoPersonResponse" wsa:Action="http://grid.po.coppa.nci.nih.gov/CoppaPO/EchoPersonResponse" />
    </operation>
    <operation name="getOrganization">
      <input message="tns:GetOrganizationRequest" wsa:Action="http://grid.po.coppa.nci.nih.gov/CoppaPO/GetOrganizationRequest" />
      <output message="tns:GetOrganizationResponse" wsa:Action="http://grid.po.coppa.nci.nih.gov/CoppaPO/GetOrganizationResponse" />
    </operation>
    <operation name="getPerson">
      <input message="tns:GetPersonRequest" wsa:Action="http://grid.po.coppa.nci.nih.gov/CoppaPO/GetPersonRequest" />
      <output message="tns:GetPersonResponse" wsa:Action="http://grid.po.coppa.nci.nih.gov/CoppaPO/GetPersonResponse" />
    </operation>
    <operation name="searchOrganizations">
      <input message="tns:SearchOrganizationsRequest" wsa:Action="http://grid.po.coppa.nci.nih.gov/CoppaPO/SearchOrganizationsRequest" />
      <output message="tns:SearchOrganizationsResponse" wsa:Action="http://grid.po.coppa.nci.nih.gov/CoppaPO/SearchOrganizationsResponse" />
    </operation>
    <operation name="searchPersons">
      <input message="tns:SearchPersonsRequest" wsa:Action="http://grid.po.coppa.nci.nih.gov/CoppaPO/SearchPersonsRequest" />
      <output message="tns:SearchPersonsResponse" wsa:Action="http://grid.po.coppa.nci.nih.gov/CoppaPO/SearchPersonsResponse" />
    </operation>
    <operation name="echoHealthCareFacility">
      <input message="tns:EchoHealthCareFacilityRequest" wsa:Action="http://grid.po.coppa.nci.nih.gov/CoppaPO/EchoHealthCareFacilityRequest" />
      <output message="tns:EchoHealthCareFacilityResponse" wsa:Action="http://grid.po.coppa.nci.nih.gov/CoppaPO/EchoHealthCareFacilityResponse" />
    </operation>
    <operation name="getHealthCareFacility">
      <input message="tns:GetHealthCareFacilityRequest" wsa:Action="http://grid.po.coppa.nci.nih.gov/CoppaPO/GetHealthCareFacilityRequest" />
      <output message="tns:GetHealthCareFacilityResponse" wsa:Action="http://grid.po.coppa.nci.nih.gov/CoppaPO/GetHealthCareFacilityResponse" />
    </operation>
    <operation name="searchHealthCareFacilities">
      <input message="tns:SearchHealthCareFacilitiesRequest" wsa:Action="http://grid.po.coppa.nci.nih.gov/CoppaPO/SearchHealthCareFacilitiesRequest" />
      <output message="tns:SearchHealthCareFacilitiesResponse" wsa:Action="http://grid.po.coppa.nci.nih.gov/CoppaPO/SearchHealthCareFacilitiesResponse" />
    </operation>
    <operation name="echoClinicalResearchStaff">
      <input message="tns:EchoClinicalResearchStaffRequest" wsa:Action="http://grid.po.coppa.nci.nih.gov/CoppaPO/EchoClinicalResearchStaffRequest" />
      <output message="tns:EchoClinicalResearchStaffResponse" wsa:Action="http://grid.po.coppa.nci.nih.gov/CoppaPO/EchoClinicalResearchStaffResponse" />
    </operation>
    <operation name="getClinicalResearchStaff">
      <input message="tns:GetClinicalResearchStaffRequest" wsa:Action="http://grid.po.coppa.nci.nih.gov/CoppaPO/GetClinicalResearchStaffRequest" />
      <output message="tns:GetClinicalResearchStaffResponse" wsa:Action="http://grid.po.coppa.nci.nih.gov/CoppaPO/GetClinicalResearchStaffResponse" />
    </operation>
    <operation name="searchClinicalResearchStaffs">
      <input message="tns:SearchClinicalResearchStaffsRequest" wsa:Action="http://grid.po.coppa.nci.nih.gov/CoppaPO/SearchClinicalResearchStaffsRequest" />
      <output message="tns:SearchClinicalResearchStaffsResponse" wsa:Action="http://grid.po.coppa.nci.nih.gov/CoppaPO/SearchClinicalResearchStaffsResponse" />
    </operation>
    <operation name="getServiceSecurityMetadata">
      <input message="wns0:GetServiceSecurityMetadataRequest" wsa:Action="http://security.introduce.cagrid.nci.nih.gov/ServiceSecurity/GetServiceSecurityMetadataRequest" />
      <output message="wns0:GetServiceSecurityMetadataResponse" wsa:Action="http://security.introduce.cagrid.nci.nih.gov/ServiceSecurity/GetServiceSecurityMetadataResponse" />
    </operation>
  </portType>
</definitions>

