po-grid-3.1/docs/Narrative.xsd

<?xml version="1.0" encoding="UTF-8"?>
<xs:schema elementFormDefault="qualified" xmlns:xs="http://www.w3.org/2001/XMLSchema">
	<xs:complexType name="Narrative" mixed="true">
		<xs:choice minOccurs="0" maxOccurs="unbounded">
			<xs:element ref="content"/>
			<xs:element ref="linkHtml"/>
			<xs:element ref="sub"/>
			<xs:element ref="sup"/>
			<xs:element ref="br"/>
			<xs:element ref="footnote"/>
			<xs:element ref="footnoteRef"/>
			<xs:element ref="renderMultiMedia"/>
			<xs:element ref="paragraph"/>
			<xs:element ref="list"/>
			<xs:element ref="table"/>
		</xs:choice>
		<xs:attribute name="ID" type="xs:ID"/>
		<xs:attribute name="styleCode" type="xs:NMTOKENS"/>
	</xs:complexType>
	<xs:element name="text" type="Narrative"/>
	<xs:element name="br">
		<xs:complexType/>
	</xs:element>
	<xs:element name="caption">
		<xs:complexType mixed="true">
			<xs:choice minOccurs="0" maxOccurs="unbounded">
				<xs:element ref="linkHtml"/>
				<xs:element ref="sub"/>
				<xs:element ref="sup"/>
				<xs:element ref="footnote"/>
				<xs:element ref="footnoteRef"/>
			</xs:choice>
			<xs:attribute name="ID" type="xs:ID"/>
			<xs:attribute name="language" type="xs:NMTOKEN"/>
			<xs:attribute name="styleCode" type="xs:NMTOKENS"/>
		</xs:complexType>
	</xs:element>
	<xs:element name="col">
		<xs:complexType>
			<xs:attribute name="ID" type="xs:ID"/>
			<xs:attribute name="language" type="xs:NMTOKEN"/>
			<xs:attribute name="styleCode" type="xs:NMTOKENS"/>
			<xs:attribute name="span" type="xs:string" default="1"/>
			<xs:attribute name="width" type="xs:string"/>
			<xs:attribute name="align">
				<xs:simpleType>
					<xs:restriction base="xs:NMTOKEN">
						<xs:enumeration value="left"/>
						<xs:enumeration value="center"/>
						<xs:enumeration value="right"/>
						<xs:enumeration value="justify"/>
						<xs:enumeration value="char"/>
					</xs:restriction>
				</xs:simpleType>
			</xs:attribute>
			<xs:attribute name="char" type="xs:string"/>
			<xs:attribute name="charoff" type="xs:string"/>
			<xs:attribute name="valign">
				<xs:simpleType>
					<xs:restriction base="xs:NMTOKEN">
						<xs:enumeration value="top"/>
						<xs:enumeration value="middle"/>
						<xs:enumeration value="bottom"/>
						<xs:enumeration value="baseline"/>
					</xs:restriction>
				</xs:simpleType>
			</xs:attribute>
		</xs:complexType>
	</xs:element>
	<xs:element name="colgroup">
		<xs:complexType>
			<xs:sequence minOccurs="0" maxOccurs="unbounded">
				<xs:element ref="col"/>
			</xs:sequence>
			<xs:attribute name="ID" type="xs:ID"/>
			<xs:attribute name="language" type="xs:NMTOKEN"/>
			<xs:attribute name="styleCode" type="xs:NMTOKENS"/>
			<xs:attribute name="span" type="xs:string" default="1"/>
			<xs:attribute name="width" type="xs:string"/>
			<xs:attribute name="align">
				<xs:simpleType>
					<xs:restriction base="xs:NMTOKEN">
						<xs:enumeration value="left"/>
						<xs:enumeration value="center"/>
						<xs:enumeration value="right"/>
						<xs:enumeration value="justify"/>
						<xs:enumeration value="char"/>
					</xs:restriction>
				</xs:simpleType>
			</xs:attribute>
			<xs:attribute name="char" type="xs:string"/>
			<xs:attribute name="charoff" type="xs:string"/>
			<xs:attribute name="valign">
				<xs:simpleType>
					<xs:restriction base="xs:NMTOKEN">
						<xs:enumeration value="top"/>
						<xs:enumeration value="middle"/>
						<xs:enumeration value="bottom"/>
						<xs:enumeration value="baseline"/>
					</xs:restriction>
				</xs:simpleType>
			</xs:attribute>
		</xs:complexType>
	</xs:element>
	<xs:element name="content">
		<xs:complexType mixed="true">
			<xs:choice minOccurs="0" maxOccurs="unbounded">
				<xs:element ref="content"/>
				<xs:element ref="linkHtml"/>
				<xs:element ref="sub"/>
				<xs:element ref="sup"/>
				<xs:element ref="br"/>
				<xs:element ref="footnote"/>
				<xs:element ref="footnoteRef"/>
				<xs:element ref="renderMultiMedia"/>
			</xs:choice>
			<xs:attribute name="ID" type="xs:ID"/>
			<xs:attribute name="language" type="xs:NMTOKEN"/>
			<xs:attribute name="styleCode" type="xs:NMTOKENS"/>
			<xs:attribute name="revised">
				<xs:simpleType>
					<xs:restriction base="xs:NMTOKEN">
						<xs:enumeration value="insert"/>
						<xs:enumeration value="delete"/>
					</xs:restriction>
				</xs:simpleType>
			</xs:attribute>
		</xs:complexType>
	</xs:element>
	<xs:element name="footnote">
		<xs:complexType mixed="true">
			<xs:choice minOccurs="0" maxOccurs="unbounded">
				<xs:element ref="content"/>
				<xs:element ref="linkHtml"/>
				<xs:element ref="sub"/>
				<xs:element ref="sup"/>
				<xs:element ref="br"/>
				<xs:element ref="renderMultiMedia"/>
				<xs:element ref="paragraph"/>
				<xs:element ref="list"/>
				<xs:element ref="table"/>
			</xs:choice>
			<xs:attribute name="ID" type="xs:ID"/>
			<xs:attribute name="language" type="xs:NMTOKEN"/>
			<xs:attribute name="styleCode" type="xs:NMTOKENS"/>
		</xs:complexType>
	</xs:element>
	<xs:element name="footnoteRef">
		<xs:complexType>
			<xs:attribute name="ID" type="xs:ID"/>
			<xs:attribute name="language" type="xs:NMTOKEN"/>
			<xs:attribute name="styleCode" type="xs:NMTOKENS"/>
			<xs:attribute name="IDREF" type="xs:IDREF" use="required"/>
		</xs:complexType>
	</xs:element>
	<xs:element name="item">
		<xs:complexType mixed="true">
			<xs:sequence>
				<xs:element ref="caption" minOccurs="0"/>
				<xs:choice minOccurs="0" maxOccurs="unbounded">
					<xs:element ref="content"/>
					<xs:element ref="linkHtml"/>
					<xs:element ref="sub"/>
					<xs:element ref="sup"/>
					<xs:element ref="br"/>
					<xs:element ref="footnote"/>
					<xs:element ref="footnoteRef"/>
					<xs:element ref="renderMultiMedia"/>
					<xs:element ref="paragraph"/>
					<xs:element ref="list"/>
					<xs:element ref="table"/>
				</xs:choice>
			</xs:sequence>
			<xs:attribute name="ID" type="xs:ID"/>
			<xs:attribute name="language" type="xs:NMTOKEN"/>
			<xs:attribute name="styleCode" type="xs:NMTOKENS"/>
		</xs:complexType>
	</xs:element>
	<xs:element name="linkHtml">
		<xs:complexType mixed="true">
			<xs:choice minOccurs="0" maxOccurs="unbounded">
				<xs:element ref="footnote"/>
				<xs:element ref="footnoteRef"/>
			</xs:choice>
			<xs:attribute name="name" type="xs:string"/>
			<xs:attribute name="href" type="xs:string"/>
			<xs:attribute name="rel" type="xs:string"/>
			<xs:attribute name="rev" type="xs:string"/>
			<xs:attribute name="title" type="xs:string"/>
			<xs:attribute name="ID" type="xs:ID"/>
			<xs:attribute name="language" type="xs:NMTOKEN"/>
			<xs:attribute name="styleCode" type="xs:NMTOKENS"/>
		</xs:complexType>
	</xs:element>
	<xs:element name="list">
		<xs:complexType>
			<xs:sequence>
				<xs:element ref="caption" minOccurs="0"/>
				<xs:element ref="item" maxOccurs="unbounded"/>
			</xs:sequence>
			<xs:attribute name="ID" type="xs:ID"/>
			<xs:attribute name="language" type="xs:NMTOKEN"/>
			<xs:attribute name="styleCode" type="xs:NMTOKENS"/>
			<xs:attribute name="listType" default="unordered">
				<xs:simpleType>
					<xs:restriction base="xs:NMTOKEN">
						<xs:enumeration value="ordered"/>
						<xs:enumeration value="unordered"/>
					</xs:restriction>
				</xs:simpleType>
			</xs:attribute>
		</xs:complexType>
	</xs:element>
	<xs:element name="paragraph">
		<xs:complexType mixed="true">
			<xs:sequence>
				<xs:element ref="caption" minOccurs="0"/>
				<xs:choice minOccurs="0" maxOccurs="unbounded">
					<xs:element ref="content"/>
					<xs:element ref="linkHtml"/>
					<xs:element ref="sub"/>
					<xs:element ref="sup"/>
					<xs:element ref="br"/>
					<xs:element ref="footnote"/>
					<xs:element ref="footnoteRef"/>
					<xs:element ref="renderMultiMedia"/>
				</xs:choice>
			</xs:sequence>
			<xs:attribute name="ID" type="xs:ID"/>
			<xs:attribute name="language" type="xs:NMTOKEN"/>
			<xs:attribute name="styleCode" type="xs:NMTOKENS"/>
		</xs:complexType>
	</xs:element>
	<xs:element name="renderMultiMedia">
		<xs:complexType>
			<xs:sequence>
				<xs:element ref="caption" minOccurs="0"/>
			</xs:sequence>
			<xs:attribute name="referencedObject" type="xs:IDREFS" use="required"/>
			<xs:attribute name="ID" type="xs:ID"/>
			<xs:attribute name="language" type="xs:NMTOKEN"/>
			<xs:attribute name="styleCode" type="xs:NMTOKENS"/>
		</xs:complexType>
	</xs:element>
	<xs:element name="sub" type="xs:string"/>
	<xs:element name="sup" type="xs:string"/>
	<xs:element name="table">
		<xs:complexType>
			<xs:sequence>
				<xs:element ref="caption" minOccurs="0"/>
				<xs:choice>
					<xs:element ref="col" minOccurs="0" maxOccurs="unbounded"/>
					<xs:element ref="colgroup" minOccurs="0" maxOccurs="unbounded"/>
				</xs:choice>
				<xs:element ref="thead" minOccurs="0"/>
				<xs:element ref="tfoot" minOccurs="0"/>
				<xs:element ref="tbody" maxOccurs="unbounded"/>
			</xs:sequence>
			<xs:attribute name="ID" type="xs:ID"/>
			<xs:attribute name="language" type="xs:NMTOKEN"/>
			<xs:attribute name="styleCode" type="xs:NMTOKENS"/>
			<xs:attribute name="summary" type="xs:string"/>
			<xs:attribute name="width" type="xs:string"/>
			<xs:attribute name="border" type="xs:string"/>
			<xs:attribute name="frame">
				<xs:simpleType>
					<xs:restriction base="xs:NMTOKEN">
						<xs:enumeration value="void"/>
						<xs:enumeration value="above"/>
						<xs:enumeration value="below"/>
						<xs:enumeration value="hsides"/>
						<xs:enumeration value="lhs"/>
						<xs:enumeration value="rhs"/>
						<xs:enumeration value="vsides"/>
						<xs:enumeration value="box"/>
						<xs:enumeration value="border"/>
					</xs:restriction>
				</xs:simpleType>
			</xs:attribute>
			<xs:attribute name="rules">
				<xs:simpleType>
					<xs:restriction base="xs:NMTOKEN">
						<xs:enumeration value="none"/>
						<xs:enumeration value="groups"/>
						<xs:enumeration value="rows"/>
						<xs:enumeration value="cols"/>
						<xs:enumeration value="all"/>
					</xs:restriction>
				</xs:simpleType>
			</xs:attribute>
			<xs:attribute name="cellspacing" type="xs:string"/>
			<xs:attribute name="cellpadding" type="xs:string"/>
		</xs:complexType>
	</xs:element>
	<xs:element name="tbody">
		<xs:complexType>
			<xs:sequence maxOccurs="unbounded">
				<xs:element ref="tr"/>
			</xs:sequence>
			<xs:attribute name="ID" type="xs:ID"/>
			<xs:attribute name="language" type="xs:NMTOKEN"/>
			<xs:attribute name="styleCode" type="xs:NMTOKENS"/>
			<xs:attribute name="align">
				<xs:simpleType>
					<xs:restriction base="xs:NMTOKEN">
						<xs:enumeration value="left"/>
						<xs:enumeration value="center"/>
						<xs:enumeration value="right"/>
						<xs:enumeration value="justify"/>
						<xs:enumeration value="char"/>
					</xs:restriction>
				</xs:simpleType>
			</xs:attribute>
			<xs:attribute name="char" type="xs:string"/>
			<xs:attribute name="charoff" type="xs:string"/>
			<xs:attribute name="valign">
				<xs:simpleType>
					<xs:restriction base="xs:NMTOKEN">
						<xs:enumeration value="top"/>
						<xs:enumeration value="middle"/>
						<xs:enumeration value="bottom"/>
						<xs:enumeration value="baseline"/>
					</xs:restriction>
				</xs:simpleType>
			</xs:attribute>
		</xs:complexType>
	</xs:element>
	<xs:element name="td">
		<xs:complexType mixed="true">
			<xs:choice minOccurs="0" maxOccurs="unbounded">
				<xs:element ref="content"/>
				<xs:element ref="linkHtml"/>
				<xs:element ref="sub"/>
				<xs:element ref="sup"/>
				<xs:element ref="br"/>
				<xs:element ref="footnote"/>
				<xs:element ref="footnoteRef"/>
				<xs:element ref="renderMultiMedia"/>
				<xs:element ref="paragraph"/>
				<xs:element ref="list"/>
			</xs:choice>
			<xs:attribute name="ID" type="xs:ID"/>
			<xs:attribute name="language" type="xs:NMTOKEN"/>
			<xs:attribute name="styleCode" type="xs:NMTOKENS"/>
			<xs:attribute name="abbr" type="xs:string"/>
			<xs:attribute name="axis" type="xs:string"/>
			<xs:attribute name="headers" type="xs:IDREFS"/>
			<xs:attribute name="scope">
				<xs:simpleType>
					<xs:restriction base="xs:NMTOKEN">
						<xs:enumeration value="row"/>
						<xs:enumeration value="col"/>
						<xs:enumeration value="rowgroup"/>
						<xs:enumeration value="colgroup"/>
					</xs:restriction>
				</xs:simpleType>
			</xs:attribute>
			<xs:attribute name="rowspan" type="xs:string" default="1"/>
			<xs:attribute name="colspan" type="xs:string" default="1"/>
			<xs:attribute name="align">
				<xs:simpleType>
					<xs:restriction base="xs:NMTOKEN">
						<xs:enumeration value="left"/>
						<xs:enumeration value="center"/>
						<xs:enumeration value="right"/>
						<xs:enumeration value="justify"/>
						<xs:enumeration value="char"/>
					</xs:restriction>
				</xs:simpleType>
			</xs:attribute>
			<xs:attribute name="char" type="xs:string"/>
			<xs:attribute name="charoff" type="xs:string"/>
			<xs:attribute name="valign">
				<xs:simpleType>
					<xs:restriction base="xs:NMTOKEN">
						<xs:enumeration value="top"/>
						<xs:enumeration value="middle"/>
						<xs:enumeration value="bottom"/>
						<xs:enumeration value="baseline"/>
					</xs:restriction>
				</xs:simpleType>
			</xs:attribute>
		</xs:complexType>
	</xs:element>
	<xs:element name="tfoot">
		<xs:complexType>
			<xs:sequence maxOccurs="unbounded">
				<xs:element ref="tr"/>
			</xs:sequence>
			<xs:attribute name="ID" type="xs:ID"/>
			<xs:attribute name="language" type="xs:NMTOKEN"/>
			<xs:attribute name="styleCode" type="xs:NMTOKENS"/>
			<xs:attribute name="align">
				<xs:simpleType>
					<xs:restriction base="xs:NMTOKEN">
						<xs:enumeration value="left"/>
						<xs:enumeration value="center"/>
						<xs:enumeration value="right"/>
						<xs:enumeration value="justify"/>
						<xs:enumeration value="char"/>
					</xs:restriction>
				</xs:simpleType>
			</xs:attribute>
			<xs:attribute name="char" type="xs:string"/>
			<xs:attribute name="charoff" type="xs:string"/>
			<xs:attribute name="valign">
				<xs:simpleType>
					<xs:restriction base="xs:NMTOKEN">
						<xs:enumeration value="top"/>
						<xs:enumeration value="middle"/>
						<xs:enumeration value="bottom"/>
						<xs:enumeration value="baseline"/>
					</xs:restriction>
				</xs:simpleType>
			</xs:attribute>
		</xs:complexType>
	</xs:element>
	<xs:element name="th">
		<xs:complexType mixed="true">
			<xs:choice minOccurs="0" maxOccurs="unbounded">
				<xs:element ref="content"/>
				<xs:element ref="linkHtml"/>
				<xs:element ref="sub"/>
				<xs:element ref="sup"/>
				<xs:element ref="br"/>
				<xs:element ref="footnote"/>
				<xs:element ref="footnoteRef"/>
				<xs:element ref="renderMultiMedia"/>
			</xs:choice>
			<xs:attribute name="ID" type="xs:ID"/>
			<xs:attribute name="language" type="xs:NMTOKEN"/>
			<xs:attribute name="styleCode" type="xs:NMTOKENS"/>
			<xs:attribute name="abbr" type="xs:string"/>
			<xs:attribute name="axis" type="xs:string"/>
			<xs:attribute name="headers" type="xs:IDREFS"/>
			<xs:attribute name="scope">
				<xs:simpleType>
					<xs:restriction base="xs:NMTOKEN">
						<xs:enumeration value="row"/>
						<xs:enumeration value="col"/>
						<xs:enumeration value="rowgroup"/>
						<xs:enumeration value="colgroup"/>
					</xs:restriction>
				</xs:simpleType>
			</xs:attribute>
			<xs:attribute name="rowspan" type="xs:string" default="1"/>
			<xs:attribute name="colspan" type="xs:string" default="1"/>
			<xs:attribute name="align">
				<xs:simpleType>
					<xs:restriction base="xs:NMTOKEN">
						<xs:enumeration value="left"/>
						<xs:enumeration value="center"/>
						<xs:enumeration value="right"/>
						<xs:enumeration value="justify"/>
						<xs:enumeration value="char"/>
					</xs:restriction>
				</xs:simpleType>
			</xs:attribute>
			<xs:attribute name="char" type="xs:string"/>
			<xs:attribute name="charoff" type="xs:string"/>
			<xs:attribute name="valign">
				<xs:simpleType>
					<xs:restriction base="xs:NMTOKEN">
						<xs:enumeration value="top"/>
						<xs:enumeration value="middle"/>
						<xs:enumeration value="bottom"/>
						<xs:enumeration value="baseline"/>
					</xs:restriction>
				</xs:simpleType>
			</xs:attribute>
		</xs:complexType>
	</xs:element>
	<xs:element name="thead">
		<xs:complexType>
			<xs:sequence maxOccurs="unbounded">
				<xs:element ref="tr"/>
			</xs:sequence>
			<xs:attribute name="ID" type="xs:ID"/>
			<xs:attribute name="language" type="xs:NMTOKEN"/>
			<xs:attribute name="styleCode" type="xs:NMTOKENS"/>
			<xs:attribute name="align">
				<xs:simpleType>
					<xs:restriction base="xs:NMTOKEN">
						<xs:enumeration value="left"/>
						<xs:enumeration value="center"/>
						<xs:enumeration value="right"/>
						<xs:enumeration value="justify"/>
						<xs:enumeration value="char"/>
					</xs:restriction>
				</xs:simpleType>
			</xs:attribute>
			<xs:attribute name="char" type="xs:string"/>
			<xs:attribute name="charoff" type="xs:string"/>
			<xs:attribute name="valign">
				<xs:simpleType>
					<xs:restriction base="xs:NMTOKEN">
						<xs:enumeration value="top"/>
						<xs:enumeration value="middle"/>
						<xs:enumeration value="bottom"/>
						<xs:enumeration value="baseline"/>
					</xs:restriction>
				</xs:simpleType>
			</xs:attribute>
		</xs:complexType>
	</xs:element>
	<xs:element name="tr">
		<xs:complexType>
			<xs:choice maxOccurs="unbounded">
				<xs:element ref="th"/>
				<xs:element ref="td"/>
			</xs:choice>
			<xs:attribute name="ID" type="xs:ID"/>
			<xs:attribute name="language" type="xs:NMTOKEN"/>
			<xs:attribute name="styleCode" type="xs:NMTOKENS"/>
			<xs:attribute name="align">
				<xs:simpleType>
					<xs:restriction base="xs:NMTOKEN">
						<xs:enumeration value="left"/>
						<xs:enumeration value="center"/>
						<xs:enumeration value="right"/>
						<xs:enumeration value="justify"/>
						<xs:enumeration value="char"/>
					</xs:restriction>
				</xs:simpleType>
			</xs:attribute>
			<xs:attribute name="char" type="xs:string"/>
			<xs:attribute name="charoff" type="xs:string"/>
			<xs:attribute name="valign">
				<xs:simpleType>
					<xs:restriction base="xs:NMTOKEN">
						<xs:enumeration value="top"/>
						<xs:enumeration value="middle"/>
						<xs:enumeration value="bottom"/>
						<xs:enumeration value="baseline"/>
					</xs:restriction>
				</xs:simpleType>
			</xs:attribute>
		</xs:complexType>
	</xs:element>
</xs:schema>
