outcomes-grid/schema/OutcomesServices/Business.wsdl

<?xml version="1.0" encoding="UTF-8"?>
<definitions xmlns="http://schemas.xmlsoap.org/wsdl/" xmlns:tns="http://enterpriseservices.nci.nih.gov/OutcomesServices/Business" xmlns:wsrp="http://docs.oasis-open.org/wsrf/2004/06/wsrf-WS-ResourceProperties-1.2-draft-01.xsd" xmlns:wsrlw="http://docs.oasis-open.org/wsrf/2004/06/wsrf-WS-ResourceLifetime-1.2-draft-01.wsdl" xmlns:wsdlpp="http://www.globus.org/namespaces/2004/10/WSDLPreprocessor" xmlns:gtwsdl1="http://docs.oasis-open.org/wsrf/2004/06/wsrf-WS-ServiceGroup-1.2-draft-01.wsdl" xmlns:wsa="http://schemas.xmlsoap.org/ws/2004/03/addressing" xmlns:wsntw="http://docs.oasis-open.org/wsn/2004/06/wsn-WS-BaseNotification-1.2-draft-01.wsdl" xmlns:wsrbfw="http://docs.oasis-open.org/wsrf/2004/06/wsrf-WS-BaseFaults-1.2-draft-01.wsdl" xmlns:wsrpw="http://docs.oasis-open.org/wsrf/2004/06/wsrf-WS-ResourceProperties-1.2-draft-01.wsdl" xmlns:wns0="http://security.introduce.cagrid.nci.nih.gov/ServiceSecurity" xmlns:ns6="gme://caGrid.caBIG/1.0/gov.nih.nci.cagrid.metadata.service" xmlns:ns0="http://outcomes.services.coppa.nci.nih.gov" xmlns:ns5="gme://caGrid.caBIG/1.0/gov.nih.nci.cagrid.metadata" xmlns:ns2="http://business.outcomes.services.coppa.nci.nih.gov" xmlns:ns1="uri:iso.org:21090" xmlns:ns8="http://enterpriseservices.nci.nih.gov/OutcomesServices/User/types" xmlns:ns3="http://enterpriseservices.nci.nih.gov/OutcomesServices/types" xmlns:ns9="http://enterpriseservices.nci.nih.gov/OutcomesServices/Business/types" xmlns:ns4="gme://caGrid.caBIG/1.0/gov.nih.nci.cagrid.metadata.security" xmlns:ns7="gme://caGrid.caBIG/1.0/gov.nih.nci.cagrid.metadata.common" name="Business" targetNamespace="http://enterpriseservices.nci.nih.gov/OutcomesServices/Business">
  <import namespace="http://docs.oasis-open.org/wsrf/2004/06/wsrf-WS-ResourceProperties-1.2-draft-01.wsdl" location="../wsrf/properties/WS-ResourceProperties.wsdl" />
  <import namespace="http://docs.oasis-open.org/wsrf/2004/06/wsrf-WS-BaseFaults-1.2-draft-01.wsdl" location="../wsrf/faults/WS-BaseFaults.wsdl" />
  <import namespace="http://docs.oasis-open.org/wsn/2004/06/wsn-WS-BaseNotification-1.2-draft-01.wsdl" location="../wsrf/notification/WS-BaseN.wsdl" />
  <import namespace="http://security.introduce.cagrid.nci.nih.gov/ServiceSecurity" location="./ServiceSecurity.wsdl" />
  <!--============================================================

                      T Y P E S
                      
  ============================================================-->
  <types>
    <schema xmlns="http://www.w3.org/2001/XMLSchema" xmlns:xs="http://www.w3.org/2001/XMLSchema" xmlns:wsrbf="http://docs.oasis-open.org/wsrf/2004/06/wsrf-WS-BaseFaults-1.2-draft-01.xsd" targetNamespace="http://enterpriseservices.nci.nih.gov/OutcomesServices/Business" elementFormDefault="qualified" attributeFormDefault="unqualified">
      <import namespace="http://docs.oasis-open.org/wsrf/2004/06/wsrf-WS-BaseFaults-1.2-draft-01.xsd" schemaLocation="../wsrf/faults/WS-BaseFaults.xsd" />
      <import namespace="gme://caGrid.caBIG/1.0/gov.nih.nci.cagrid.metadata.service" schemaLocation="./xsd/cagrid/types/service/servicemodel.xsd" />
      <import namespace="http://outcomes.services.coppa.nci.nih.gov" schemaLocation="./Outcomes.xsd" />
      <import namespace="gme://caGrid.caBIG/1.0/gov.nih.nci.cagrid.metadata" schemaLocation="./xsd/cagrid/types/caGridMetadata.xsd" />
      <import namespace="http://business.outcomes.services.coppa.nci.nih.gov" schemaLocation="./Outcomes-Business.xsd" />
      <import namespace="uri:iso.org:21090" schemaLocation="./ISO_datatypes_Narrative.xsd" />
      <import namespace="http://enterpriseservices.nci.nih.gov/OutcomesServices/User/types" schemaLocation="./UserTypes.xsd" />
      <import namespace="http://enterpriseservices.nci.nih.gov/OutcomesServices/types" schemaLocation="./OutcomesServicesTypes.xsd" />
      <import namespace="http://enterpriseservices.nci.nih.gov/OutcomesServices/Business/types" schemaLocation="./BusinessTypes.xsd" />
      <import namespace="gme://caGrid.caBIG/1.0/gov.nih.nci.cagrid.metadata.security" schemaLocation="./xsd/cagrid/types/security/security.xsd" />
      <import namespace="gme://caGrid.caBIG/1.0/gov.nih.nci.cagrid.metadata.common" schemaLocation="./xsd/cagrid/types/common/common.xsd" />
      <element name="GetRequest">
        <complexType>
          <sequence>
            <element name="patient">
              <complexType>
                <sequence>
                  <element ref="ns2:Patient" minOccurs="1" maxOccurs="1" />
                </sequence>
              </complexType>
            </element>
          </sequence>
        </complexType>
      </element>
      <element name="GetResponse">
        <complexType>
          <sequence>
            <element ref="ns2:Patient" minOccurs="1" maxOccurs="unbounded" />
          </sequence>
        </complexType>
      </element>
      <element name="GetByIdRequest">
        <complexType>
          <sequence>
            <element name="id">
              <complexType>
                <sequence>
                  <element ref="ns0:Id" minOccurs="1" maxOccurs="1" />
                </sequence>
              </complexType>
            </element>
          </sequence>
        </complexType>
      </element>
      <element name="GetByIdResponse">
        <complexType>
          <sequence>
            <element ref="ns2:Patient" minOccurs="1" maxOccurs="1" />
          </sequence>
        </complexType>
      </element>
      <element name="WriteRequest">
        <complexType>
          <sequence>
            <element name="patient">
              <complexType>
                <sequence>
                  <element ref="ns2:Patient" minOccurs="1" maxOccurs="1" />
                </sequence>
              </complexType>
            </element>
          </sequence>
        </complexType>
      </element>
      <element name="WriteResponse">
        <complexType>
          <sequence>
            <element ref="ns2:Patient" minOccurs="1" maxOccurs="1" />
          </sequence>
        </complexType>
      </element>
      <element name="BusinessResourceProperties">
        <complexType>
          <sequence />
        </complexType>
      </element>
    </schema>
  </types>
  <!--  place service messages here -->
  <message name="GetRequest">
    <part name="parameters" element="tns:GetRequest" />
  </message>
  <message name="GetResponse">
    <part name="parameters" element="tns:GetResponse" />
  </message>
  <message name="GetByIdRequest">
    <part name="parameters" element="tns:GetByIdRequest" />
  </message>
  <message name="GetByIdResponse">
    <part name="parameters" element="tns:GetByIdResponse" />
  </message>
  <message name="WriteRequest">
    <part name="parameters" element="tns:WriteRequest" />
  </message>
  <message name="WriteResponse">
    <part name="parameters" element="tns:WriteResponse" />
  </message>
  <!--============================================================

                       P O R T T Y P E
                      
  ============================================================-->
  <portType name="BusinessPortType" wsrp:ResourceProperties="tns:BusinessResourceProperties">
    <operation name="get">
      <input message="tns:GetRequest" wsa:Action="http://enterpriseservices.nci.nih.gov/OutcomesServices/Business/GetRequest" />
      <output message="tns:GetResponse" wsa:Action="http://enterpriseservices.nci.nih.gov/OutcomesServices/Business/GetResponse" />
    </operation>
    <operation name="getById">
      <input message="tns:GetByIdRequest" wsa:Action="http://enterpriseservices.nci.nih.gov/OutcomesServices/Business/GetByIdRequest" />
      <output message="tns:GetByIdResponse" wsa:Action="http://enterpriseservices.nci.nih.gov/OutcomesServices/Business/GetByIdResponse" />
    </operation>
    <operation name="write">
      <input message="tns:WriteRequest" wsa:Action="http://enterpriseservices.nci.nih.gov/OutcomesServices/Business/WriteRequest" />
      <output message="tns:WriteResponse" wsa:Action="http://enterpriseservices.nci.nih.gov/OutcomesServices/Business/WriteResponse" />
    </operation>
    <operation name="getServiceSecurityMetadata">
      <input message="wns0:GetServiceSecurityMetadataRequest" wsa:Action="http://security.introduce.cagrid.nci.nih.gov/ServiceSecurity/GetServiceSecurityMetadataRequest" />
      <output message="wns0:GetServiceSecurityMetadataResponse" wsa:Action="http://security.introduce.cagrid.nci.nih.gov/ServiceSecurity/GetServiceSecurityMetadataResponse" />
    </operation>
  </portType>
</definitions>

