outcomes-grid/schema/OutcomesServices/Outcomes.xsd

<?xml version="1.0" encoding="UTF-8"?>
<xs:schema xmlns:xs="http://www.w3.org/2001/XMLSchema" xmlns:ISO="uri:iso.org:21090" xmlns:OUTCOMES="http://outcomes.services.coppa.nci.nih.gov"
    targetNamespace="http://outcomes.services.coppa.nci.nih.gov" elementFormDefault="qualified" xmlns:jxb="http://java.sun.com/xml/ns/jaxb"
    jxb:version="1.0">
    <xs:import schemaLocation="ISO_datatypes_Narrative.xsd" namespace="uri:iso.org:21090" />

    <xs:element name="Id">
        <xs:complexType>
            <xs:complexContent>
                <xs:extension base="ISO:II" />
            </xs:complexContent>
        </xs:complexType>
    </xs:element>

    <xs:element name="CD">
        <xs:complexType>
            <xs:complexContent>
                <xs:extension base="ISO:CD" />
            </xs:complexContent>
        </xs:complexType>
    </xs:element>

    <xs:element name="ST">
        <xs:complexType>
            <xs:complexContent>
                <xs:extension base="ISO:ST" />
            </xs:complexContent>
        </xs:complexType>
    </xs:element>

    <xs:complexType name="BaseType" abstract="true">
        <xs:sequence>
            <xs:element name="identifier" type="ISO:II" />
        </xs:sequence>
    </xs:complexType>

    <xs:complexType name="StudyType" abstract="true">
        <xs:complexContent>
            <xs:extension base="OUTCOMES:BaseType">
                <xs:sequence>
                    <xs:element name="studyProtocolIdentifier" type="ISO:II" />
                </xs:sequence>
            </xs:extension>
        </xs:complexContent>
    </xs:complexType>

    <xs:complexType name="ActivityType" abstract="true">
        <xs:complexContent>
            <xs:extension base="OUTCOMES:StudyType">
                <xs:sequence>
                    <xs:element name="categoryCode" type="ISO:CD" />
                    <xs:element name="subcategoryCode" type="ISO:CD" />
                    <xs:element name="textDescription" type="ISO:ST" />
                </xs:sequence>
            </xs:extension>
        </xs:complexContent>
    </xs:complexType>

    <xs:complexType name="PerformedActivityType" abstract="true">
        <xs:complexContent>
            <xs:extension base="OUTCOMES:ActivityType">
                <xs:sequence>
                    <xs:element name="actualDateRange" type="ISO:IVL_TS" />
                    <xs:element name="studySubjectIdentifier" type="ISO:II" />
                    <xs:element name="actualDuration" type="ISO:PQ" />
                    <xs:element name="name" type="ISO:ST" />
                    <xs:element name="nameCode" type="ISO:CD" />
                    <xs:element name="interventionIdentifier" type="ISO:II" />
                </xs:sequence>
            </xs:extension>
        </xs:complexContent>
    </xs:complexType>

    <xs:complexType name="PerformedObservationResultType" abstract="true">
        <xs:complexContent>
            <xs:extension base="OUTCOMES:StudyType">
                <xs:sequence>
                    <xs:element name="resultCode" type="ISO:CD" />
                    <xs:element name="resultCodeModifiedText" type="ISO:ST" />
                    <xs:element name="resultIndicator" type="ISO:BL" />
                    <xs:element name="resultQuantity" type="ISO:PQ" />
                    <xs:element name="resultText" type="ISO:ST" />
                    <xs:element name="typeCode" type="ISO:CD" />
                    <xs:element name="unitOfMeasureCode" type="ISO:CD" />
                    <xs:element name="resultDateRange" type="ISO:IVL_TS" />
                    <xs:element name="performedObservationIdentifier" type="ISO:II" />
                </xs:sequence>
            </xs:extension>
        </xs:complexContent>
    </xs:complexType>

    <xs:complexType name="PerformedObservationType" abstract="true">
        <xs:complexContent>
            <xs:extension base="OUTCOMES:PerformedActivityType">
                <xs:sequence>
                    <xs:element name="methodCode" type="ISO:DSET_CD" />
                    <xs:element name="targetSiteCode" type="ISO:CD" />
                </xs:sequence>
            </xs:extension>
        </xs:complexContent>
    </xs:complexType>

    <xs:complexType name="PerformedImagingType" abstract="true">
        <xs:complexContent>
            <xs:extension base="OUTCOMES:PerformedObservationType">
                <xs:sequence>
                    <xs:element name="contrastAgentEnhancementIndicator" type="ISO:BL" />
                </xs:sequence>
            </xs:extension>
        </xs:complexContent>
    </xs:complexType>

    <xs:complexType name="PerformedSubstanceAdministrationType" abstract="true">
        <xs:complexContent>
            <xs:extension base="OUTCOMES:PerformedActivityType">
                <xs:sequence>
                    <xs:element name="dose" type="ISO:PQ" />
                    <xs:element name="doseDescription" type="ISO:ST" />
                    <xs:element name="doseFormCode" type="ISO:CD" />
                    <xs:element name="doseFrequencyCode" type="ISO:CD" />
                    <xs:element name="doseRegimen" type="ISO:ST" />
                    <xs:element name="doseTotal" type="ISO:PQ" />
                    <xs:element name="routeOfAdministrationCode" type="ISO:CD" />
                    <xs:element name="doseDuration" type="ISO:PQ" />
                    <xs:element name="doseModificationType" type="ISO:CD" />
                </xs:sequence>
            </xs:extension>
        </xs:complexContent>
    </xs:complexType>

    <xs:element name="ActivityRelationship">
        <xs:complexType>
            <xs:complexContent>
                <xs:extension base="OUTCOMES:BaseType" >
                    <xs:sequence>
                        <xs:element name="typeCode" type="ISO:CD" />
                        <xs:element name="sourcePerformedActivityIdentifier" type="ISO:II" />
                        <xs:element name="targetPerformedActivityIdentifier" type="ISO:II" />
                    </xs:sequence>
                </xs:extension>
            </xs:complexContent>
        </xs:complexType>
    </xs:element>

    <xs:element name="Patient">
        <xs:complexType>
            <xs:complexContent>
                <xs:extension base="OUTCOMES:BaseType">
                    <xs:sequence>
                        <xs:element name="raceCode" type="ISO:DSET_CD" />
                        <xs:element name="genderCode" type="ISO:CD" />
                        <xs:element name="ethnicCode" type="ISO:CD" />
                        <xs:element name="birthDate" type="ISO:TS" />
                        <xs:element name="countryIdentifier" type="ISO:II" />
                        <xs:element name="zip" type="ISO:ST" />
                        <xs:element name="statusCode" type="ISO:CD" />
                        <xs:element name="statusDateRangeLow" type="ISO:TS" />
                        <xs:element name="organizationIdentifier" type="ISO:II" />
                        <xs:element name="assignedIdentifier" type="ISO:II" />
                        <xs:element name="personIdentifier" type="ISO:II" />
                    </xs:sequence>
                </xs:extension>
            </xs:complexContent>
        </xs:complexType>
    </xs:element>

    <xs:element name="PerformedActivity">
        <xs:complexType>
            <xs:complexContent>
                <xs:extension base="OUTCOMES:PerformedActivityType" />
            </xs:complexContent>
        </xs:complexType>
    </xs:element>

    <xs:element name="PerformedClinicalResult">
        <xs:complexType>
            <xs:complexContent>
                <xs:extension base="OUTCOMES:PerformedObservationResultType" >
                    <xs:sequence>
                        <xs:element name="stageCodingSystem" type="ISO:CD" />
                    </xs:sequence>
                </xs:extension>
            </xs:complexContent>
        </xs:complexType>
    </xs:element>

    <xs:element name="PerformedDiagnosis">
        <xs:complexType>
            <xs:complexContent>
                <xs:extension base="OUTCOMES:PerformedObservationResultType" />
            </xs:complexContent>
        </xs:complexType>
    </xs:element>

    <xs:element name="PerformedHistopathology">
        <xs:complexType>
            <xs:complexContent>
                <xs:extension base="OUTCOMES:PerformedObservationResultType" >
                    <xs:sequence>
                        <xs:element name="description" type="ISO:ST" />
                        <xs:element name="gradeCode" type="ISO:CD" />
                    </xs:sequence>
                </xs:extension>
            </xs:complexContent>
        </xs:complexType>
    </xs:element>

    <xs:element name="PerformedImage">
        <xs:complexType>
            <xs:complexContent>
                <xs:extension base="OUTCOMES:PerformedObservationResultType" >
                    <xs:sequence>
                        <xs:element name="imageIdentifier" type="ISO:II" />
                        <xs:element name="seriesIdentifier" type="ISO:II" />
                    </xs:sequence>
                </xs:extension>
            </xs:complexContent>
        </xs:complexType>
    </xs:element>

    <xs:element name="PerformedImaging">
        <xs:complexType>
            <xs:complexContent>
                <xs:extension base="OUTCOMES:PerformedImagingType" />
            </xs:complexContent>
        </xs:complexType>
    </xs:element>

    <xs:element name="PerformedLesionDescription">
        <xs:complexType>
            <xs:complexContent>
                <xs:extension base="OUTCOMES:PerformedObservationResultType" >
                    <xs:sequence>
                        <xs:element name="lesionNumber" type="ISO:INT" />
                        <xs:element name="longestDiameter" type="ISO:PQ" />
                        <xs:element name="measurableIndicator" type="ISO:BL" />
                        <xs:element name="evaluableIndicator" type="ISO:BL" />
                    </xs:sequence>
                </xs:extension>
            </xs:complexContent>
        </xs:complexType>
    </xs:element>

    <xs:element name="PerformedMedicalHistoryResult">
        <xs:complexType>
            <xs:complexContent>
                <xs:extension base="OUTCOMES:PerformedObservationResultType" >
                    <xs:sequence>
                        <xs:element name="description" type="ISO:ST" />
                    </xs:sequence>
                </xs:extension>
            </xs:complexContent>
        </xs:complexType>
    </xs:element>

    <xs:element name="PerformedObservation">
        <xs:complexType>
            <xs:complexContent>
                <xs:extension base="OUTCOMES:PerformedObservationType" />
            </xs:complexContent>
        </xs:complexType>
    </xs:element>

    <xs:element name="PerformedObservationResult">
        <xs:complexType>
            <xs:complexContent>
                <xs:extension base="OUTCOMES:PerformedObservationResultType" />
            </xs:complexContent>
        </xs:complexType>
    </xs:element>

    <xs:element name="PerformedProcedure">
        <xs:complexType>
            <xs:complexContent>
                <xs:extension base="OUTCOMES:PerformedActivityType" />
            </xs:complexContent>
        </xs:complexType>
    </xs:element>

    <xs:element name="PerformedRadiationAdministration">
        <xs:complexType>
            <xs:complexContent>
                <xs:extension base="OUTCOMES:PerformedSubstanceAdministrationType">
                    <xs:sequence>
                        <xs:element name="machineTypeCode" type="ISO:CD" />
                    </xs:sequence>
                </xs:extension>
            </xs:complexContent>
        </xs:complexType>
    </xs:element>

    <xs:element name="PerformedSubjectMilestone">
        <xs:complexType>
            <xs:complexContent>
                <xs:extension base="OUTCOMES:PerformedActivityType">
                    <xs:sequence>
                        <xs:element name="informedConsentDate" type="ISO:TS" />
                        <xs:element name="registrationDate" type="ISO:TS" />
                        <xs:element name="reasonCode" type="ISO:CD" />
                    </xs:sequence>
                </xs:extension>
            </xs:complexContent>
        </xs:complexType>
    </xs:element>

    <xs:element name="PerformedSubstanceAdministration">
        <xs:complexType>
            <xs:complexContent>
                <xs:extension base="OUTCOMES:PerformedSubstanceAdministrationType" />
            </xs:complexContent>
        </xs:complexType>
    </xs:element>

    <xs:element name="StudySubject">
        <xs:complexType>
            <xs:complexContent>
                <xs:extension base="OUTCOMES:StudyType" >
                    <xs:sequence>
                        <xs:element name="assignedIdentifier" type="ISO:ST" />
                        <xs:element name="patientIdentifier" type="ISO:II" />
                        <xs:element name="studySiteIdentifier" type="ISO:II" />
                        <xs:element name="diseaseIdentifier" type="ISO:II" />
                        <xs:element name="paymentMethodCode" type="ISO:CD" />
                        <xs:element name="statusCode" type="ISO:CD" />
                        <xs:element name="statusDateRange" type="ISO:IVL_TS" />
                        <xs:element name="outcomesLoginName" type="ISO:ST" />
                    </xs:sequence>
                </xs:extension>
            </xs:complexContent>
        </xs:complexType>
    </xs:element>

    <xs:element name="Submission">
        <xs:complexType>
            <xs:complexContent>
                <xs:extension base="OUTCOMES:StudyType" >
                    <xs:sequence>
                        <xs:element name="cutOffDate" type="ISO:TS" />
                        <xs:element name="description" type="ISO:ST" />
                        <xs:element name="label" type="ISO:ST" />
                        <xs:element name="statusCode" type="ISO:CD" />
                        <xs:element name="statusDateRange" type="ISO:IVL_TS" />
                        <xs:element name="createUser" type="ISO:ST" />
                        <xs:element name="submitUser" type="ISO:ST" />
                    </xs:sequence>
                </xs:extension>
            </xs:complexContent>
        </xs:complexType>
    </xs:element>

</xs:schema>
