outcomes-grid/schema/OutcomesServices/Outcomes-Business.xsd

<?xml version="1.0" encoding="UTF-8"?>
<xs:schema xmlns:xs="http://www.w3.org/2001/XMLSchema" xmlns:ISO="uri:iso.org:21090"
    xmlns:OUTCOMES_BUSINESS="http://business.outcomes.services.coppa.nci.nih.gov"
    targetNamespace="http://business.outcomes.services.coppa.nci.nih.gov" elementFormDefault="qualified"
    xmlns:jxb="http://java.sun.com/xml/ns/jaxb" jxb:version="1.0">
    <xs:import schemaLocation="ISO_datatypes_Narrative.xsd" namespace="uri:iso.org:21090"/>

    <xs:complexType name="Base">
        <xs:annotation>
            <xs:documentation>The generic base type for all Outcomes Types</xs:documentation>
        </xs:annotation>
        <xs:sequence>
            <xs:element name="action" type="ISO:CD"/>
            <xs:element name="identifier" type="ISO:II"/>
        </xs:sequence>
    </xs:complexType>
    <xs:complexType name="Cycle">
        <xs:complexContent>
            <xs:extension base="OUTCOMES_BUSINESS:Base">
                <xs:sequence>
                    <xs:element name="name"  type="ISO:ST"/>
                    <xs:element name="createDate"  type="ISO:TS"/>
                    <xs:element name="drugBiologics" type="OUTCOMES_BUSINESS:DrugBiologic" maxOccurs="unbounded"/>
                    <xs:element name="radiations" type="OUTCOMES_BUSINESS:Radiation" maxOccurs="unbounded"/>
                    <xs:element name="surgeries" type="OUTCOMES_BUSINESS:Surgery" maxOccurs="unbounded"/>
                </xs:sequence>
            </xs:extension>
        </xs:complexContent>
    </xs:complexType>
    <xs:complexType name="DeathInformation">
        <xs:complexContent>
            <xs:extension base="OUTCOMES_BUSINESS:Base">
                <xs:sequence>
                    <xs:element name="autopsyId" type="ISO:II"/>
                    <xs:element name="cause" type="ISO:CD"/>
                    <xs:element name="eventDate" type="ISO:TS"/>
                    <xs:element name="autopsyInd" type="ISO:CD"/>
                    <xs:element name="causeByAutopsy" type="ISO:CD"/>
                    <xs:element name="autopsySite" type="ISO:CD"/>
                </xs:sequence>
            </xs:extension>
        </xs:complexContent>
    </xs:complexType>
    <xs:complexType name="Diagnosis">
        <xs:complexContent>
            <xs:extension base="OUTCOMES_BUSINESS:Base">
                <xs:sequence>
                    <xs:element name="resultCode" type="ISO:CD"/>
                    <xs:element name="createDate" type="ISO:TS"/>
                    <xs:element name="name" type="ISO:ST"/>
                </xs:sequence>
            </xs:extension>
        </xs:complexContent>
    </xs:complexType>
    <xs:complexType name="DiseaseEvaluation">
        <xs:complexContent>
            <xs:extension base="OUTCOMES_BUSINESS:Base">
                <xs:sequence>
                    <xs:element name="vitalStatus" type="ISO:CD"/>
                    <xs:element name="responseInd" type="ISO:CD"/>
                    <xs:element name="diseaseStatus" type="ISO:CD"/>
                    <xs:element name="assessmentType" type="ISO:CD"/>
                    <xs:element name="diseaseStatusDate" type="ISO:TS"/>
                    <xs:element name="evaluationDate" type="ISO:TS"/>
                    <xs:element name="bestResponse" type="ISO:CD"/>
                    <xs:element name="bestResponseDate" type="ISO:TS"/>
                </xs:sequence>
            </xs:extension>
        </xs:complexContent>
    </xs:complexType>
    <xs:complexType name="DrugBiologic">
        <xs:complexContent>
            <xs:extension base="OUTCOMES_BUSINESS:Base">
                <xs:sequence>
                    <xs:element name="dose" type="ISO:PQ"/>
                    <xs:element name="doseRoute" type="ISO:CD"/>
                    <xs:element name="doseFreq" type="ISO:CD"/>
                    <xs:element name="doseDur" type="ISO:PQ"/>
                    <xs:element name="height" type="ISO:PQ"/>
                    <xs:element name="weight" type="ISO:PQ"/>
                    <xs:element name="bsa" type="ISO:PQ"/>
                    <xs:element name="doseTotal" type="ISO:PQ"/>
                    <xs:element name="doseModType" type="ISO:CD"/>
                    <xs:element name="interventionId" type="ISO:II"/>
                    <xs:element name="startDate" type="ISO:TS"/>
                </xs:sequence>
            </xs:extension>
        </xs:complexContent>
    </xs:complexType>
    <xs:complexType name="LesionAssessment">
        <xs:complexContent>
            <xs:extension base="OUTCOMES_BUSINESS:Base">
                <xs:sequence>
                    <xs:element name="lesionNum" type="ISO:II"/>
                    <xs:element name="lesionSite" type="ISO:CD"/>
                    <xs:element name="measurableEvaluableDiseaseType" type="ISO:CD"/>
                    <xs:element name="lesionMeasurementMethod" type="ISO:CD"/>
                    <xs:element name="imageSeriesIdentifier" type="ISO:II"/>
                    <xs:element name="imageIdentifier" type="ISO:II"/>
                    <xs:element name="lesionLongestDiameter" type="ISO:PQ"/>
                    <xs:element name="clinicalAssessmentDate" type="ISO:TS"/>
                    <xs:element name="treatmentRegimenIdentifier" type="ISO:II"/>
                </xs:sequence>
            </xs:extension>
        </xs:complexContent>
    </xs:complexType>
    <xs:complexType name="OffTreatment">
        <xs:complexContent>
            <xs:extension base="OUTCOMES_BUSINESS:Base">
                <xs:sequence>
                    <xs:element name="lastTreatmentDate" type="ISO:TS"/>
                    <xs:element name="offTreatmentReason" type="ISO:CD"/>
                </xs:sequence>
            </xs:extension>
        </xs:complexContent>
    </xs:complexType>
    <xs:complexType name="Pathology">
        <xs:complexContent>
            <xs:extension base="OUTCOMES_BUSINESS:Base">
                <xs:sequence>
                    <xs:element name="grade" type="ISO:CD"/>
                    <xs:element name="gradeSystem" type="ISO:CD"/>
                    <xs:element name="description" type="ISO:ST"/>
                </xs:sequence>
            </xs:extension>
        </xs:complexContent>
    </xs:complexType>
    <xs:complexType name="PerformanceStatus">
        <xs:complexContent>
            <xs:extension base="OUTCOMES_BUSINESS:Base">
                <xs:sequence>
                    <xs:element name="performanceSystem" type="ISO:CD"/>
                    <xs:element name="performanceStatus" type="ISO:CD"/>
                </xs:sequence>
            </xs:extension>
        </xs:complexContent>
    </xs:complexType>
    <xs:complexType name="PriorTherapiesItem">
        <xs:complexContent>
            <xs:extension base="OUTCOMES_BUSINESS:Base">
                <xs:sequence>
                    <xs:element name="type" type="ISO:CD"/>
                    <xs:element name="description" type="ISO:ST"/>
                </xs:sequence>
            </xs:extension>
        </xs:complexContent>
    </xs:complexType>
    <xs:complexType name="PriorTherapy">
        <xs:complexContent>
            <xs:extension base="OUTCOMES_BUSINESS:Base">
                <xs:sequence>
                    <xs:element name="totalRegimenNum" type="ISO:PQ"/>
                    <xs:element name="chemoRegimenNum" type="ISO:PQ"/>
                    <xs:element name="hasPrior" type="xs:boolean"/>
                    <xs:element name="itemList" type="OUTCOMES_BUSINESS:PriorTherapiesItem" maxOccurs="unbounded"/>
                </xs:sequence>
            </xs:extension>
        </xs:complexContent>
    </xs:complexType>
    <xs:complexType name="Radiation">
        <xs:complexContent>
            <xs:extension base="OUTCOMES_BUSINESS:Base">
                <xs:sequence>
                    <xs:element name="type" type="ISO:CD"/>
                    <xs:element name="radDate" type="ISO:TS"/>
                    <xs:element name="totalDose" type="ISO:PQ"/>
                    <xs:element name="duration" type="ISO:PQ"/>
                    <xs:element name="dose" type="ISO:PQ"/>
                    <xs:element name="doseFreq" type="ISO:CD"/>
                </xs:sequence>
            </xs:extension>
        </xs:complexContent>
    </xs:complexType>
    <xs:complexType name="Staging">
        <xs:complexContent>
            <xs:extension base="OUTCOMES_BUSINESS:Base">
                <xs:sequence>
                    <xs:element name="method" type="ISO:CD"/>
                    <xs:element name="tt" type="ISO:ST"/>
                    <xs:element name="nn" type="ISO:ST"/>
                    <xs:element name="mm" type="ISO:ST"/>
                    <xs:element name="stage" type="ISO:ST"/>
                    <xs:element name="system" type="ISO:CD"/>
                </xs:sequence>
            </xs:extension>
        </xs:complexContent>
    </xs:complexType>
    <xs:complexType name="Surgery">
        <xs:complexContent>
            <xs:extension base="OUTCOMES_BUSINESS:Base">
                <xs:sequence>
                    <xs:element name="createDate" type="ISO:TS"/>
                    <xs:element name="info" type="ISO:ST"/>
                    <xs:element name="interventionId" type="ISO:II"/>
                </xs:sequence>
            </xs:extension>
        </xs:complexContent>
    </xs:complexType>
    <xs:complexType name="TreatmentRegimen">
        <xs:complexContent>
            <xs:extension base="OUTCOMES_BUSINESS:Base">
                <xs:sequence>
                    <xs:element name="name" type="ISO:ST"/>
                    <xs:element name="description" type="ISO:ST"/>
                    <xs:element name="cycles" type="OUTCOMES_BUSINESS:Cycle" maxOccurs="unbounded"/>
                    <xs:element name="diseaseEvaluations" type="OUTCOMES_BUSINESS:DiseaseEvaluation" maxOccurs="unbounded"/>
                    <xs:element name="lesionAssessments" type="OUTCOMES_BUSINESS:LesionAssessment" maxOccurs="unbounded"/>
                    <xs:element name="offTreatment" type="OUTCOMES_BUSINESS:OffTreatment"/>
                </xs:sequence>
            </xs:extension>
        </xs:complexContent>
    </xs:complexType>
    <xs:complexType name="TumorMarker">
        <xs:complexContent>
            <xs:extension base="OUTCOMES_BUSINESS:Base">
                <xs:sequence>
                    <xs:element name="tumorMarker" type="ISO:CD"/>
                    <xs:element name="tumorMarkerValue" type="ISO:ST"/>
                    <xs:element name="tmvUom" type="ISO:PQ"/>
                </xs:sequence>
            </xs:extension>
        </xs:complexContent>
    </xs:complexType>

    <xs:element name="Patient">
        <xs:complexType>
            <xs:complexContent>
                <xs:extension base="OUTCOMES_BUSINESS:Base">
                    <xs:sequence>
                        <xs:element name="assignedIdentifier" type="ISO:ST"/>
                        <xs:element name="birthDate" type="ISO:TS"/>
                        <xs:element name="genderCode" type="ISO:CD"/>
                        <xs:element name="raceCode" type="ISO:DSET_CD"/>
                        <xs:element name="ethnicCode" type="ISO:CD"/>
                        <xs:element name="countryAlpha3" type="ISO:ST"/>
                        <xs:element name="paymentMethodCode" type="ISO:CD"/>

                        <xs:element name="deathInformation" type="OUTCOMES_BUSINESS:DeathInformation"/>
                        <xs:element name="diagnosis" type="OUTCOMES_BUSINESS:Diagnosis"/>
                        <xs:element name="pathology" type="OUTCOMES_BUSINESS:Pathology"/>
                        <xs:element name="performanceStatus" type="OUTCOMES_BUSINESS:PerformanceStatus"/>
                        <xs:element name="priorTherapy" type="OUTCOMES_BUSINESS:PriorTherapy"/>
                        <xs:element name="staging" type="OUTCOMES_BUSINESS:Staging"/>
                        <xs:element name="treatmentRegimens" type="OUTCOMES_BUSINESS:TreatmentRegimen" maxOccurs="unbounded"/>
                        <xs:element name="tumorMarkers" type="OUTCOMES_BUSINESS:TumorMarker" maxOccurs="unbounded"/>
                    </xs:sequence>
                </xs:extension>
            </xs:complexContent>
        </xs:complexType>
    </xs:element>
</xs:schema>


