pa-grid/schema/PAServices/ArmService.wsdl

<?xml version="1.0" encoding="UTF-8"?>
<definitions xmlns="http://schemas.xmlsoap.org/wsdl/" xmlns:tns="http://enterpriseservices.nci.nih.gov/PAServices/ArmService" xmlns:wsrp="http://docs.oasis-open.org/wsrf/2004/06/wsrf-WS-ResourceProperties-1.2-draft-01.xsd" xmlns:wsrlw="http://docs.oasis-open.org/wsrf/2004/06/wsrf-WS-ResourceLifetime-1.2-draft-01.wsdl" xmlns:wsdlpp="http://www.globus.org/namespaces/2004/10/WSDLPreprocessor" xmlns:gtwsdl1="http://docs.oasis-open.org/wsrf/2004/06/wsrf-WS-ServiceGroup-1.2-draft-01.wsdl" xmlns:wsa="http://schemas.xmlsoap.org/ws/2004/03/addressing" xmlns:wsntw="http://docs.oasis-open.org/wsn/2004/06/wsn-WS-BaseNotification-1.2-draft-01.wsdl" xmlns:wsrbfw="http://docs.oasis-open.org/wsrf/2004/06/wsrf-WS-BaseFaults-1.2-draft-01.wsdl" xmlns:wsrpw="http://docs.oasis-open.org/wsrf/2004/06/wsrf-WS-ResourceProperties-1.2-draft-01.wsdl" xmlns:wns0="http://security.introduce.cagrid.nci.nih.gov/ServiceSecurity" xmlns:ns2="http://faults.pa.services.coppa.nci.nih.gov" xmlns:ns8="gme://caGrid.caBIG/1.0/gov.nih.nci.cagrid.metadata" xmlns:ns1="uri:iso.org:21090" xmlns:ns7="gme://caGrid.caBIG/1.0/gov.nih.nci.cagrid.metadata.security" xmlns:ns12="http://enterpriseservices.nci.nih.gov/PAServices/StudySiteAccrualStatusService/types" xmlns:ns6="http://enterpriseservices.nci.nih.gov/PAServices/types" xmlns:ns10="gme://caGrid.caBIG/1.0/gov.nih.nci.cagrid.metadata.common" xmlns:ns9="gme://caGrid.caBIG/1.0/gov.nih.nci.cagrid.metadata.service" xmlns:ns5="http://enterpriseservices.nci.nih.gov/PAServices/ArmService/types" xmlns:ns11="http://enterpriseservices.nci.nih.gov/PAServices/StudyProtocolService/types" xmlns:ns0="http://pa.services.coppa.nci.nih.gov" xmlns:ns4="http://schemas.xmlsoap.org/ws/2004/03/addressing" xmlns:ns3="http://docs.oasis-open.org/wsrf/2004/06/wsrf-WS-BaseFaults-1.2-draft-01.xsd" name="ArmService" targetNamespace="http://enterpriseservices.nci.nih.gov/PAServices/ArmService">
  <import namespace="http://docs.oasis-open.org/wsrf/2004/06/wsrf-WS-ResourceProperties-1.2-draft-01.wsdl" location="../wsrf/properties/WS-ResourceProperties.wsdl" />
  <import namespace="http://docs.oasis-open.org/wsrf/2004/06/wsrf-WS-BaseFaults-1.2-draft-01.wsdl" location="../wsrf/faults/WS-BaseFaults.wsdl" />
  <import namespace="http://docs.oasis-open.org/wsn/2004/06/wsn-WS-BaseNotification-1.2-draft-01.wsdl" location="../wsrf/notification/WS-BaseN.wsdl" />
  <import namespace="http://security.introduce.cagrid.nci.nih.gov/ServiceSecurity" location="./ServiceSecurity.wsdl" />
  <!--============================================================

                      T Y P E S
                      
  ============================================================-->
  <types>
    <schema xmlns="http://www.w3.org/2001/XMLSchema" xmlns:xs="http://www.w3.org/2001/XMLSchema" xmlns:wsrbf="http://docs.oasis-open.org/wsrf/2004/06/wsrf-WS-BaseFaults-1.2-draft-01.xsd" targetNamespace="http://enterpriseservices.nci.nih.gov/PAServices/ArmService" elementFormDefault="qualified" attributeFormDefault="unqualified">
      <import namespace="http://docs.oasis-open.org/wsrf/2004/06/wsrf-WS-BaseFaults-1.2-draft-01.xsd" schemaLocation="../wsrf/faults/WS-BaseFaults.xsd" />
      <import namespace="http://faults.pa.services.coppa.nci.nih.gov" schemaLocation="./CoppaPAFaults.xsd" />
      <import namespace="http://www.w3.org/XML/1998/namespace" schemaLocation="./../ws/xml.xsd" />
      <import namespace="gme://caGrid.caBIG/1.0/gov.nih.nci.cagrid.metadata" schemaLocation="./xsd/cagrid/types/caGridMetadata.xsd" />
      <import namespace="uri:iso.org:21090" schemaLocation="./ISO_datatypes_Narrative.xsd" />
      <import namespace="gme://caGrid.caBIG/1.0/gov.nih.nci.cagrid.metadata.security" schemaLocation="./xsd/cagrid/types/security/security.xsd" />
      <import namespace="http://enterpriseservices.nci.nih.gov/PAServices/StudySiteAccrualStatusService/types" schemaLocation="./StudySiteAccrualStatusServiceTypes.xsd" />
      <import namespace="http://enterpriseservices.nci.nih.gov/PAServices/types" schemaLocation="./PAServicesTypes.xsd" />
      <import namespace="gme://caGrid.caBIG/1.0/gov.nih.nci.cagrid.metadata.common" schemaLocation="./xsd/cagrid/types/common/common.xsd" />
      <import namespace="gme://caGrid.caBIG/1.0/gov.nih.nci.cagrid.metadata.service" schemaLocation="./xsd/cagrid/types/service/servicemodel.xsd" />
      <import namespace="http://enterpriseservices.nci.nih.gov/PAServices/ArmService/types" schemaLocation="./ArmServiceTypes.xsd" />
      <import namespace="http://enterpriseservices.nci.nih.gov/PAServices/StudyProtocolService/types" schemaLocation="./StudyProtocolServiceTypes.xsd" />
      <import namespace="http://pa.services.coppa.nci.nih.gov" schemaLocation="./CoppaPA.xsd" />
      <import namespace="http://schemas.xmlsoap.org/ws/2004/03/addressing" schemaLocation="./../ws/addressing/WS-Addressing.xsd" />
      <import namespace="http://docs.oasis-open.org/wsrf/2004/06/wsrf-WS-BaseFaults-1.2-draft-01.xsd" schemaLocation="./../wsrf/faults/WS-BaseFaults.xsd" />
      <element name="GetRequest">
        <complexType>
          <sequence>
            <element name="id">
              <complexType>
                <sequence>
                  <element ref="ns0:Id" minOccurs="1" maxOccurs="1" />
                </sequence>
              </complexType>
            </element>
          </sequence>
        </complexType>
      </element>
      <element name="GetResponse">
        <complexType>
          <sequence>
            <element ref="ns0:Arm" minOccurs="1" maxOccurs="1" />
          </sequence>
        </complexType>
      </element>
      <element name="GetByPlannedActivityRequest">
        <complexType>
          <sequence>
            <element name="id">
              <complexType>
                <sequence>
                  <element ref="ns0:Id" minOccurs="1" maxOccurs="1" />
                </sequence>
              </complexType>
            </element>
          </sequence>
        </complexType>
      </element>
      <element name="GetByPlannedActivityResponse">
        <complexType>
          <sequence>
            <element ref="ns0:Arm" minOccurs="1" maxOccurs="unbounded" />
          </sequence>
        </complexType>
      </element>
      <element name="GetByStudyProtocolRequest">
        <complexType>
          <sequence>
            <element name="id">
              <complexType>
                <sequence>
                  <element ref="ns0:Id" minOccurs="1" maxOccurs="1" />
                </sequence>
              </complexType>
            </element>
          </sequence>
        </complexType>
      </element>
      <element name="GetByStudyProtocolResponse">
        <complexType>
          <sequence>
            <element ref="ns0:Arm" minOccurs="1" maxOccurs="unbounded" />
          </sequence>
        </complexType>
      </element>
      <element name="CopyRequest">
        <complexType>
          <sequence>
            <element name="fromStudyProtocolId">
              <complexType>
                <sequence>
                  <element ref="ns0:Id" minOccurs="1" maxOccurs="1" />
                </sequence>
              </complexType>
            </element>
            <element name="toStudyProtocolId">
              <complexType>
                <sequence>
                  <element ref="ns0:Id" minOccurs="1" maxOccurs="1" />
                </sequence>
              </complexType>
            </element>
          </sequence>
        </complexType>
      </element>
      <element name="CopyResponse">
        <complexType>
          <sequence />
        </complexType>
      </element>
      <element name="GetCurrentByStudyProtocolRequest">
        <complexType>
          <sequence>
            <element name="studyProtocolId">
              <complexType>
                <sequence>
                  <element ref="ns0:Id" minOccurs="1" maxOccurs="1" />
                </sequence>
              </complexType>
            </element>
          </sequence>
        </complexType>
      </element>
      <element name="GetCurrentByStudyProtocolResponse">
        <complexType>
          <sequence>
            <element ref="ns0:Arm" minOccurs="1" maxOccurs="unbounded" />
          </sequence>
        </complexType>
      </element>
      <element name="CreateRequest">
        <complexType>
          <sequence>
            <element name="arm">
              <complexType>
                <sequence>
                  <element ref="ns0:Arm" minOccurs="1" maxOccurs="1" />
                </sequence>
              </complexType>
            </element>
          </sequence>
        </complexType>
      </element>
      <element name="CreateResponse">
        <complexType>
          <sequence>
            <element ref="ns0:Arm" minOccurs="1" maxOccurs="1" />
          </sequence>
        </complexType>
      </element>
      <element name="UpdateRequest">
        <complexType>
          <sequence>
            <element name="arm">
              <complexType>
                <sequence>
                  <element ref="ns0:Arm" minOccurs="1" maxOccurs="1" />
                </sequence>
              </complexType>
            </element>
          </sequence>
        </complexType>
      </element>
      <element name="UpdateResponse">
        <complexType>
          <sequence>
            <element ref="ns0:Arm" minOccurs="1" maxOccurs="1" />
          </sequence>
        </complexType>
      </element>
      <element name="DeleteRequest">
        <complexType>
          <sequence>
            <element name="id">
              <complexType>
                <sequence>
                  <element ref="ns0:Id" minOccurs="1" maxOccurs="1" />
                </sequence>
              </complexType>
            </element>
          </sequence>
        </complexType>
      </element>
      <element name="DeleteResponse">
        <complexType>
          <sequence />
        </complexType>
      </element>
      <element name="ArmServiceResourceProperties">
        <complexType>
          <sequence />
        </complexType>
      </element>
    </schema>
  </types>
  <!--  place service messages here -->
  <message name="GetRequest">
    <part name="parameters" element="tns:GetRequest" />
  </message>
  <message name="GetResponse">
    <part name="parameters" element="tns:GetResponse" />
  </message>
  <message name="GetByPlannedActivityRequest">
    <part name="parameters" element="tns:GetByPlannedActivityRequest" />
  </message>
  <message name="GetByPlannedActivityResponse">
    <part name="parameters" element="tns:GetByPlannedActivityResponse" />
  </message>
  <message name="GetByStudyProtocolRequest">
    <part name="parameters" element="tns:GetByStudyProtocolRequest" />
  </message>
  <message name="GetByStudyProtocolResponse">
    <part name="parameters" element="tns:GetByStudyProtocolResponse" />
  </message>
  <message name="CopyRequest">
    <part name="parameters" element="tns:CopyRequest" />
  </message>
  <message name="CopyResponse">
    <part name="parameters" element="tns:CopyResponse" />
  </message>
  <message name="GetCurrentByStudyProtocolRequest">
    <part name="parameters" element="tns:GetCurrentByStudyProtocolRequest" />
  </message>
  <message name="GetCurrentByStudyProtocolResponse">
    <part name="parameters" element="tns:GetCurrentByStudyProtocolResponse" />
  </message>
  <message name="CreateRequest">
    <part name="parameters" element="tns:CreateRequest" />
  </message>
  <message name="CreateResponse">
    <part name="parameters" element="tns:CreateResponse" />
  </message>
  <message name="UpdateRequest">
    <part name="parameters" element="tns:UpdateRequest" />
  </message>
  <message name="UpdateResponse">
    <part name="parameters" element="tns:UpdateResponse" />
  </message>
  <message name="DeleteRequest">
    <part name="parameters" element="tns:DeleteRequest" />
  </message>
  <message name="DeleteResponse">
    <part name="parameters" element="tns:DeleteResponse" />
  </message>
  <message name="PAFaultFaultMessage">
    <part name="fault" element="ns2:PAFault" />
  </message>
  <!--============================================================

                       P O R T T Y P E
                      
  ============================================================-->
  <portType name="ArmServicePortType" wsrp:ResourceProperties="tns:ArmServiceResourceProperties">
    <operation name="get">
      <input message="tns:GetRequest" wsa:Action="http://enterpriseservices.nci.nih.gov/PAServices/ArmService/GetRequest" />
      <output message="tns:GetResponse" wsa:Action="http://enterpriseservices.nci.nih.gov/PAServices/ArmService/GetResponse" />
      <fault name="PAFault" message="tns:PAFaultFaultMessage" wsa:Action="http://enterpriseservices.nci.nih.gov/PAServices/ArmService/PAFaultFaultMessage" />
    </operation>
    <operation name="getByPlannedActivity">
      <input message="tns:GetByPlannedActivityRequest" wsa:Action="http://enterpriseservices.nci.nih.gov/PAServices/ArmService/GetByPlannedActivityRequest" />
      <output message="tns:GetByPlannedActivityResponse" wsa:Action="http://enterpriseservices.nci.nih.gov/PAServices/ArmService/GetByPlannedActivityResponse" />
      <fault name="PAFault" message="tns:PAFaultFaultMessage" wsa:Action="http://enterpriseservices.nci.nih.gov/PAServices/ArmService/PAFaultFaultMessage" />
    </operation>
    <operation name="getByStudyProtocol">
      <input message="tns:GetByStudyProtocolRequest" wsa:Action="http://enterpriseservices.nci.nih.gov/PAServices/ArmService/GetByStudyProtocolRequest" />
      <output message="tns:GetByStudyProtocolResponse" wsa:Action="http://enterpriseservices.nci.nih.gov/PAServices/ArmService/GetByStudyProtocolResponse" />
      <fault name="PAFault" message="tns:PAFaultFaultMessage" wsa:Action="http://enterpriseservices.nci.nih.gov/PAServices/ArmService/PAFaultFaultMessage" />
    </operation>
    <operation name="copy">
      <input message="tns:CopyRequest" wsa:Action="http://enterpriseservices.nci.nih.gov/PAServices/ArmService/CopyRequest" />
      <output message="tns:CopyResponse" wsa:Action="http://enterpriseservices.nci.nih.gov/PAServices/ArmService/CopyResponse" />
      <fault name="PAFault" message="tns:PAFaultFaultMessage" wsa:Action="http://enterpriseservices.nci.nih.gov/PAServices/ArmService/PAFaultFaultMessage" />
    </operation>
    <operation name="getCurrentByStudyProtocol">
      <input message="tns:GetCurrentByStudyProtocolRequest" wsa:Action="http://enterpriseservices.nci.nih.gov/PAServices/ArmService/GetCurrentByStudyProtocolRequest" />
      <output message="tns:GetCurrentByStudyProtocolResponse" wsa:Action="http://enterpriseservices.nci.nih.gov/PAServices/ArmService/GetCurrentByStudyProtocolResponse" />
      <fault name="PAFault" message="tns:PAFaultFaultMessage" wsa:Action="http://enterpriseservices.nci.nih.gov/PAServices/ArmService/PAFaultFaultMessage" />
    </operation>
    <operation name="create">
      <input message="tns:CreateRequest" wsa:Action="http://enterpriseservices.nci.nih.gov/PAServices/ArmService/CreateRequest" />
      <output message="tns:CreateResponse" wsa:Action="http://enterpriseservices.nci.nih.gov/PAServices/ArmService/CreateResponse" />
      <fault name="PAFault" message="tns:PAFaultFaultMessage" wsa:Action="http://enterpriseservices.nci.nih.gov/PAServices/ArmService/PAFaultFaultMessage" />
    </operation>
    <operation name="update">
      <input message="tns:UpdateRequest" wsa:Action="http://enterpriseservices.nci.nih.gov/PAServices/ArmService/UpdateRequest" />
      <output message="tns:UpdateResponse" wsa:Action="http://enterpriseservices.nci.nih.gov/PAServices/ArmService/UpdateResponse" />
      <fault name="PAFault" message="tns:PAFaultFaultMessage" wsa:Action="http://enterpriseservices.nci.nih.gov/PAServices/ArmService/PAFaultFaultMessage" />
    </operation>
    <operation name="delete">
      <input message="tns:DeleteRequest" wsa:Action="http://enterpriseservices.nci.nih.gov/PAServices/ArmService/DeleteRequest" />
      <output message="tns:DeleteResponse" wsa:Action="http://enterpriseservices.nci.nih.gov/PAServices/ArmService/DeleteResponse" />
      <fault name="PAFault" message="tns:PAFaultFaultMessage" wsa:Action="http://enterpriseservices.nci.nih.gov/PAServices/ArmService/PAFaultFaultMessage" />
    </operation>
    <operation name="getServiceSecurityMetadata">
      <input message="wns0:GetServiceSecurityMetadataRequest" wsa:Action="http://security.introduce.cagrid.nci.nih.gov/ServiceSecurity/GetServiceSecurityMetadataRequest" />
      <output message="wns0:GetServiceSecurityMetadataResponse" wsa:Action="http://security.introduce.cagrid.nci.nih.gov/ServiceSecurity/GetServiceSecurityMetadataResponse" />
    </operation>
  </portType>
</definitions>

